@model IEnumerable<Post>
@{
    ViewData["Title"] = "İlanlarım";
}

<h2>@ViewData["Title"]</h2>


<div class="py-2 d-flex justify-content-end">
    <a class="btn btn-primary" asp-action="CreatePost">
        <i class="bi bi-plus"></i>
        Yeni İlan Ekle
    </a>
</div>

<table class="table">
    <thead>
        <tr>
            <th>Tarih</th>
            <th>Görsel</th>
            <th>Başlık</th>
            <th>Fiyat</th>
            <th>Kategori</th>
            <th>Tür</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var post in Model)
        {
            <tr>
                <td>@post.Date.ToShortDateString()</td>
                <td>
                    <img src="@post.Image" height="80" />
                </td>
                <td>
                    @post.Name
                </td>
                <td>
                    @post.Price.ToString("c0");
                </td>
                <td>@post.Category!.Name</td>
                <td>...</td>
            </tr>
        }
    </tbody>
</table>